
#main-links > a{
  margin: 10px;
  color: blue;
  text-align: left;
  /* text-shadow: -1px -1px 0 #ecf0f1, 1px -1px 0 #ecf0f1, -1px 1px 0 #ecf0f1, 1px 1px 0 black; */
}

#balance {
  text-align: right;
  display: inline-block;
}

.green {
  background-color: rgb(101, 196, 101);
  font-weight: bold;
}
.red {
  background-color: rgb(252, 126, 126);
  font-weight: bold;
}